[ActionPlugins][1]
RightButton;NoModifier=org.kde.latte.contextmenu

[Containments][1]
activityId=
dockWindowBehavior=true
enableKWinEdges=true
formfactor=2
immutability=1
lastScreen=10
location=4
onPrimary=true
plugin=org.kde.latte.containment
raiseOnActivityChange=false
raiseOnDesktopChange=false
timerHide=700
timerShow=200
visibility=2
wallpaperplugin=org.kde.image

[Containments][1][Applets][57]
immutability=1
plugin=org.kde.latte.plasmoid

[Containments][1][Applets][57][Configuration]
PreloadWeight=0

[Containments][1][Applets][57][Configuration][General]
isInLatteDock=true
launchers59=applications:org.kde.dolphin.desktop,applications:firefox.desktop

[Containments][1][Applets][63]
immutability=1
plugin=org.kde.plasma.kickerdash

[Containments][1][Applets][63][Configuration]
PreloadWeight=0

[Containments][1][Applets][63][Configuration][ConfigDialog]
DialogHeight=540
DialogWidth=720

[Containments][1][Applets][63][Configuration][General]
favoritesPortedToKAstats=true

[Containments][1][Applets][64]
immutability=1
plugin=org.kde.plasma.trash

[Containments][1][Applets][64][Configuration]
PreloadWeight=0

[Containments][1][Applets][66]
activityId=
formfactor=0
immutability=1
lastScreen=-1
location=0
plugin=org.kde.plasma.folder
wallpaperplugin=

[Containments][1][Applets][66][Configuration]
PreloadWeight=0
activityId=
formfactor=0
immutability=1
lastScreen=-1
location=0
plugin=org.kde.plasma.folder
wallpaperplugin=

[Containments][1][Applets][66][Configuration][ConfigDialog]
DialogHeight=540
DialogWidth=720

[Containments][1][Applets][66][Configuration][General]
arrangement=1
iconSize=1
url=file:///home/rich

[Containments][1][ConfigDialog]
DialogHeight=664
DialogWidth=586

[Containments][1][Configuration]
PreloadWeight=0

[Containments][1][General]
advanced=true
appletOrder=63;57;66;64
autoDecreaseIconSize=false
iconMargin=0
iconSize=48
maxLength=90
middleClickAction=None
modifierClickAction=NewInstance
panelSize=100
shadowOpacity=35
shadowSize=45
shrinkThickMargins=true
zoomLevel=0

[LayoutSettings]
activities=
background=
color=lightskyblue
disableBordersForMaximizedWindows=false
globalLaunchers=
lastUsedActivity=e30509b4-3b93-49d6-8df5-58087c5f872c
launchers=
showInMenu=true
textColor=fcfcfc
version=2

[ScreenMapping]
itemsOnDisabledScreens=
screenMapping=
