configuration {
	modes: "drun,calc,combi,run,emoji:rofimoji";
	show-match: true;
	terse: true;
	show-icons: true;
	sort: false;
	combi-modes: "drun,run,calc";
  timeout {
      action: "kb-cancel";
      delay:  0;
  }
  filebrowser {
      directories-first: true;
      sorting-method:    "name";
  }
}

@theme "/usr/share/rofi/themes/DarkBlue.rasi"
